doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Luis Da Silva')
        meta(name='author', content='Luis Da Silva')

        title Luis Da Silva

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Luis Da Silva
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Luis Da Silva')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#articles') Articles
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Luis Da Silva
                    .subheading.mb-5
                        | UK. · 
                        a(href='mailto:luisdanield@gmail.com') luisdanield@gmail.com
                    p.lead.mb-5
                        | Hi! Welcome. I'm a data person, passionate about solving interesting and complex problems with real impact. I love to hear and uncover the stories that the data has to tell. Mainly interested in software engineering, big data, natural language processing and reinforcement learning. I'm also a bike 🚵‍♂️ and animal 🐹 enthusiast.
                    .social-icons
                        a.social-icon(href='https://github.com/luisds95/luisds95.github.io/blob/master/cvs/cv.pdf')
                            i.fa.fa-file
                        a.social-icon(href='https://www.linkedin.com/in/luis-da-silva/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/luisds95')
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/lddsdp')
                            i.fab.fa-twitter
                        
            hr.m-0

            // Articles
            section#articles.resume-section
               .resume-section-content
                    h2.mb-5 Articles

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href='http://www.debatesiesa.com/comenzo-el-colapso-de-la-economia-venezolana-en-2014/') [Spanish] ¿Comenzó el colapso de la economía venezolana en 2014?
                            .subheading.mb-3 Nov 01, 2019
                            p
                                | A traceback of the beginnings of the collapse of Venezuela's economy, using national data that suggests that it began at some point between 1997 and 2007. For the full paper see: 
                                a(href='http://www.bcv.org.ve/publicaciones/ndeg-175-cambios-estructurales-de-los-sectores-productivos-de-la-economia-venezolana') Banco Central de Venezuela.

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                                a(href='https://towardsdatascience.com/reinforcement-learning-basics-stationary-and-non-stationary-multi-armed-bandit-problem-cfe06d33b815') Reinforcement Learning basics: stationary and non-stationary multi-armed bandit problem
                            .subheading.mb-3 May 21, 2019
                            p
                                | An introductory reinforcement learning problem explained.

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                                a(href='https://towardsdatascience.com/evolving-deep-neural-networks-ceb8d135d74d"><h3 class="mb-0 title-link') Evolving Deep Neural Networks
                            .subheading.mb-3 May 13, 2019
                            p
                                | Deep Learning architectures are getting harder to design, but evolutionary algorithms may help us overcome this.

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                                a(href='https://drive.google.com/file/d/1PxswOWiaEmGEzpImOxyTlGacoLjts44d/view?usp=sharing') Auto-MOCK: A more flexible &Delta;-MOCK implementation
                            .subheading.mb-3 Aug, 2019
                            p 
                                | MSc Data Science dissertation. Developed further the 
                                a(href="https://ieeexplore.ieee.org/abstract/document/8004483") clustering algorithm &Delta;-MOCK
                                |, this version removes some sensible parameters while keeping performace. My advisors were 
                                a(href="https://www.research.manchester.ac.uk/portal/richard.allmendinger.html") Richard Allmendinger
                                | and 
                                a(href="https://www.linkedin.com/in/cameronshand/") Cameron Shand
                                |.

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                                a(href='https://github.com/luisds95/Playground') Playground
                            p 
                                | Curated collection of notebooks and code files I have worked on while learning a wide range of data science subfields, such as 
                                a(href="https://github.com/luisds95/Playground/tree/master/Reinforcement%20Learning") Reinforcement Learning
                                | , 
                                a(href="https://github.com/luisds95/Playground/tree/master/Natural%20Language%20Processing") Natural Language Processing
                                | , 
                                a(href="https://github.com/luisds95/Playground/tree/master/Neural%20Networks") Deep Neural Networks
                                | , 
                                a(href="https://github.com/luisds95/Playground/tree/master/Genetic%20Algorithms") Genetic Algorithms
                                | , etc. Some of these are accompanied by a pdf and/or article.

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')